body{
  margin: 0;
  padding: 0;
  background:url(img/m.jpg);
  
}
#CipherPage{
  display: none;
}
.texto-encima{
  position: absolute;
  top:350px;
  left: 10px;
}
h1{
  color: #3D003D;
  text-align: center;
  line-height: 45px;
  font-size: 45px;
  font-family:'Edu VIC WA NT Beginner', cursiva;
  margin-left: 250px;
}
p{
  font-size: 30px;
  line-height: 40px;
  color:#3D003D;
  font-family:'Edu VIC WA NT Beginner', cursiva;
  text-align: center;
  margin-left: 200px;
}
#startCifrator{
  border-color: #CAFFBF;
  color: #3D003D;
  background-color: #CAFFBF;
  border-radius: 20px;
  font-weight: 600;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 680px;
  margin-right: 80px;
  margin-top: 0px ;
}
#CipherPage{
  background:url(img/m.jpg);
  background-size: cover;
  width:"110%";
  height:"110%";
  margin: 0;
  padding: 0;
}
h2{
  color: #3D003D;
  font-size: 35px;
  text-align: center;
  }
  h3{
  color: #3D003D;
  font-size: 33px;
  text-align: center;
  }
  h4{
    color: #3D003D;
    font-size: 33px;
    text-align: center;
  }
  body{
  justify-content: center;
  }
  button {
    border-color: #CAFFBF;
  color: #3D003D;
  background-color: #CAFFBF;
    border-radius: 40px;
    font-weight:600;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 450px;
    margin-right: 8px;
    width: 100px;
    }
    #TextToCipher{
      font-size: 25px;
      color: #3D003D;
      padding: 2px;
      margin: 10px;
      width: 50%;
      height: 50px;
      border-radius: 20px;
      margin-left: 400px;
      margin-top: 2px;
    }
    fieldset { 
      border-color: transparent;
      padding: 10px;
    }
    #cipherText {
      font-size: 25px;
      color: black;
      padding: 2px;
      margin: 10px;
      width: 50%;
      height: 50px;
      border-radius: 20px;
      margin-left: 400px;
      margin-top: 2px;
      }
      input{
      border-radius: 5px;
      margin-left: 680px;
      }
      ol {
      align-content: center;
      text-align: center;
      list-style-position: inside;
      color: #3D003D;
      font-size: 20px;
      font-family: 'Edu VIC WA NT Beginner', cursiva;
      }
  
  