body {
  background: url(img/ccc.jpg);
}
h1 {font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  text-align: center;
 color: #99ffff;
 line-height: 1.3;
 margin-top: 70px;
}
h2 {font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  text-align: center;
 color: #cccc33;

}
div {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
button{
  padding: 18px;
  background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  color:bisque;
  border-radius: 26px;
  margin-right: 20px;
  margin-left: 20px;
}
.opc{
  margin-top: 90px;
}